.latest-match-bg-container {
  background-color: #0f172a;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 20px;
}

.latest-match-sm-container {
  display: flex;
  flex-direction: column;
}

.sm-upper-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sm-latest-match-logo {
  width: 40%;
  margin-left: 10px;
}

.sm-upper-details-container {
  width: 60%;
}

.sm-upper-details-container-heading {
  font-size: 18px;
}

.sm-latest-match-date {
  font-size: 16px;
}

.sm-latest-match-venue {
  font-size: 14px;
}

.sm-latest-match-result {
  font-size: 14px;
  margin-bottom: 0px;
}

.sm-lower-container-hr {
  width: 100%;
  color: #475569;
}

.sm-lower-container {
  font-size: 14px;
  padding: 10px;
}

.sm-lower-container-first-innings {
  margin-top: 0px;
}

.latest-match-lg-container {
  display: none;
}

.winner-container {
  margin-left: 10px;
}

.inning-container {
  margin-right: 10px;
  text-align: right;
}

.lg-match-logo {
  margin: 10px;
  width: 20%;
}

.lg-heading {
  font-size: 28px;
}

.lg-fi-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lg-fi {
  margin-top: 5px;
}

.lg-si-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lg-si {
  margin-top: 5px;
}

.lg-motm-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lg-motm {
  margin-top: 5px;
}

.lg-umpires-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lg-umpires {
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .latest-match-sm-container {
    display: none;
  }
  .latest-match-lg-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}
